<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mds.gpp.saudeemcasa" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"

            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.default"></category>
            </intent-filter>

        </activity>

        <activity android:name=".view.LoadingScreen">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>


            </intent-filter>
        </activity>

        <activity android:name=".view.ChooseScreen">
            <action android:name="android.intent.action.MAIN"></action>
            <category android:name="android.intent.category.default"></category>

        </activity>

        <activity android:name=".view.DrugStoreList">
            <action android:name="android.intent.action.MAIN"></action>
            <action android:name="android.intent.category.default"></action>
        </activity>

        <activity android:name=".view.HospitalList">
            <action android:name="android.intent.action.MAIN"></action>
            <action android:name="android.intent.category.default"></action>
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

</manifest>